{% extends "./base.html" %}

{% block body %}
  <div class="container mt-5">
    <h1 class="mb-4">Dashboard del Administrador</h1>

    <div class="card">
      <div class="card-body">
        <h2 class="card-title">PQRS Registradas</h2>
        
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Codigo</th>
              <th scope="col">Nombre</th>
              <th scope="col">Correo</th>
              <th scope="col">Telefono</th>
              <th scope="col">Tipo de PQRS</th>
              <th scope="col">Fecha</th>
              <th scope="col">Mensaje</th>
              <th scope="col">Respuesta</th>
            </tr>
          </thead>
          <tbody>
            {% for pqrs in pqrs_list %}
              <tr>
                <td>{{ pqrs.codigo }}</td>
                <td>{{ pqrs.nombre }}</td>
                <td>{{ pqrs.correo }}</td>
                <td>{{ pqrs.telefono }}</td>
                <td>{{ pqrs.tipoPqrs }}</td>
                <td>{{ pqrs.fecha }}</td>
                <td>
                 
                  <button type="button" class="btn btn-info" data-toggle="modal" data-target="#mensajeModal{{ pqrs.codigo }}">
                    Ver Mensaje
                  </button>
                
                  <div class="modal fade" id="mensajeModal{{ pqrs.codigo }}" tabindex="-1" role="dialog" aria-labelledby="mensajeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="mensajeModalLabel">Mensaje Completo</h5>
                        </div>
                        <div class="modal-body">
                          {{ pqrs.mensaje }}
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
                <td>{{ pqrs.respuesta }}</td>
                <td>
                    <form action="{% url 'responder_pqrs' pqrs.codigo %}" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <textarea id="txtrespuesta" name="txtrespuesta" class="form-control" placeholder="Responder..." rows="3" required></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Enviar respuesta</button>
                    </form>                    
                </td>
              </tr>
            {% empty %}
              <tr>
                <td colspan="8">No hay PQRS registradas</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>


  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}
