{% extends "./base.html" %}

{% block body %}
<style>
    body {
        background-color: #f8f9fa;
        height: 100vh; 
        width: 100vw; 
    }
    .login-container {
        margin-top: 100px;
    }
</style>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
            <h2 class="text-center">Gestion de PQRS</h2>
            <div class="card">
                <div class="card-body">
                    <form action="/home/registrarPqrs/" method="POST">{% csrf_token %}
                        <br>
                        <div class="form-group">
                            <input type="text" id="txtnombre" name="txtnombre" class="form-control" placeholder="Nombre" maxlength="50" required>
                        </div>
                        <br>
                        <div class="form-group">
                            <input type="text" id="txtcorreo" name="txtcorreo" class="form-control" placeholder="Correo" maxlength="50" required>
                        </div>
                        <br>
                        <div class="form-group">
                            <input type="text" id="txttelefono" name="txttelefono" class="form-control" placeholder="Telefono" maxlength="10" required>
                        </div>
                        <br>
                        <div class="col-12">
                            <label for="tipoPqrs" class="form-label">Tipo de PQRS</label>
                            <select class="form-select" id="txttipoPqrs" name="txttipoPqrs" required>
                      
                                <option value="">Selecciona el tipo de PQRS</option>
                                <option value="Peticion">Petición</option>
                                <option value="Queja">Queja</option>
                                <option value="Reclamo">Reclamo</option>
                                <option value="Sugerencia">Sugerencia</option>
                            </select>
                            <div class="invalid-feedback">
                                Por favor selecciona el tipo de PQRS.
                            </div>
                            <br>
                        </div>
                        <div class="form-group">
                            <input type="text" id="txtmensaje" name="txtmensaje" class="form-control" placeholder="Escriba su peticion" maxlength="1000" required>
                        </div>
                        <br>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success btn-block">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
