{% extends "./base.html" %}

{% block body %}
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
    <h2>Gestion de PQRS</h2>
    <div class="card">
        <div class="card-body">
          <form action="/home/registrarPqrs/" method="POST">{% csrf_token %}
                <div class="form-group">
                    <input type="text" id="txtcodigo" name="txtcodigo" class="form-control" placeholder="Codigo"
                     minlength="1" maxlength="6" required>
                </div>
                <div class="form-group">
                    <input type="text" id="txtnombre" name="txtnombre" class="form-control" placeholder="Nombre"
                    maxlength="50" required>
                </div>
                <div class="form-group">
                    <input type="text" id="txtcorreo" name="txtcorreo" class="form-control " placeholder="Correo"
                    maxlength="50" required>
                </div>

                <div class="col-12">
                  <label for="tipoPqrs" class="form-label">Tipo de PQRS</label>
                  <select class="form-select" id="txttipoPqrs" name="txttipoPqrs" required>
                    <option value="">Selecciona el tipo de PQRS</option>
                    <option value="Peticion">Petición</option>
                    <option value="Queja">Queja</option>
                    <option value="Reclamo">Reclamo</option>
                    <option value="Sugerencia">Sugerencia</option>
                  </select>
                  <div class="invalid-feedback">
                    Por favor selecciona el tipo de PQRS.
                  </div>
                </div>

                <div class="form-group">
                  <input type="text" id="txtmensaje" name="txtmensaje" class="form-control"  placeholder="Escriba su peticion"
                  maxlength="50" required>
              </div>
                
                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-block">Guardar</button>
                    
                </div>
            </form>
        </div>
    </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
        <div class="table-responsive">
            <h1>Solicitud </h1>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Nombre</th>
                        <th>Correo</th>
                        <th>Tipo</th>
                        <th>Mensaje</th>
                      
                        <th colspan="2">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for c in productos %}
                    <tr>
                        <td>{{c.codigo}}</td>
                        <td>{{c.nombre}}</td>
                        <td>{{c.Correo}}</td>
                        <td>{{c.tipoPqrs}}</td>
                        <td>{{c.mensaje }}</td>
          
                        <td><a href="/home/eliminarPqrs/{{c.codigo}}" class="btn btn-danger btnEliminacion">Eliminar</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

